<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.2.3/cyborg/bootstrap.min.css" integrity="sha512-6JM8AUNiR0PhS+P/orbIggnQlkVEG7fUoO6ve7XWNGGGL0mOfLPSYuBo4/31Ig5KiC1T9Ep5yw8R12E2qaI2hQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown-dark.css" integrity="sha512-q0UqxA0Ka1VxVBMFJoNfTVBYFWXqkNeF1N6WZPyLNULkF9YdpAuS/dqsN3/ClxBUzHJGrrkgLJFUlzFgXunXDQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/base16/monokai.min.css" integrity="sha512-FjOA1AU65qMR37zWdK/Z9Ct7kZE+LbRijMCoWYtbbw0mTuAzh+h2x0doBM7X2r3N98Wn/f1HyqSB+o3pavmZOQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

  <body class="container d-flex justify-content-center align-items-center">
    <div class="card my-3">
      <div class="card-body">
        <article class="markdown-body p-3">
          <%- htmlContent %>
        </article>
      </div>
      <div class="card-footer text-center">
        <a href="<%= website %>" target="_blank">
          <small><%= website %></small>
        </a>
        <small style="font-size:0.001em;">
          what are you looking for?
        </small>
      </div>
    </div>
  </body>
</html>
